html,
body {
	height: 100%;
}
body {
	height: unset;
	display: flex;
	justify-content: center;
	align-items: center;
}
#IDE {
	box-sizing: border-box;
	width: 100%;
	min-height: 600px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
	height: fit-content;
	gap: 25px;
}

input {
	overflow: auto;
	background-color: #1e1e1e;
	border: none;
	outline: none;
	text-indent: 10px;
	height: 25px;
	border-radius: 3px;
	color: white;
}
input:focus,
#textarea:focus {
	outline: none;
	border-bottom: 2px solid #1978c0;
}

fieldset {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	background-color: #2c313a;
	border: none;
	border-top: #2c313a solid 35px;
	box-sizing: border-box;
	margin: 0;
	border-radius: 5px;
}
legend {
	color: white;
	font-weight: bolder;
	cursor: default;
}
#objects {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	box-sizing: border-box;
	height: fit-content;
	min-width: 280px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 10px;
	border-bottom: 3px solid #ffffff1e;
	border-radius: 10px;
	padding: 8px;
	max-width: 30%;
}
#tdnt,
#tdo {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
}

#tdnt div,
#tdo div {
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 5px;
}
#tdnt div input,
#tdo div input {
	width: 100%;
}
#tdnt div input:nth-child(2),
#tdo div input:nth-child(2) {
	width: 30%;
}
#tdnt div span,
#tdo div span {
	color: white;
	font-size: 25px;
	cursor: default;
}
#tdnt div button,
#tdo div button {
	cursor: pointer;
	background: none;
	color: rgb(221, 49, 84);
	border-radius: 30%;
	border: none;
	font-weight: bolder;
	font-size: 15px;
}

#main {
	box-sizing: border-box;
	min-width: 280px;
	max-width: 800px;
	min-height: 800px;
	height: fit-content;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#main fieldset {
	min-width: 250px;
	max-width: 800px;
	min-height: 500px;
	height: fit-content;
	overflow: hidden;
	border-top: #2c313a solid 45px;
	height: 100%;
}

#main fieldset legend {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#main fieldset legend input,
#main fieldset #textarea {
	font-family: monospace;
	font-size: larger;
	width: 100%;
}
#main fieldset #textarea {
	min-width: 250px;
	max-width: 800px;
	height: 500px; 
	padding: 0;
	margin: 0;
	white-space: nowrap;
	color: white;
	box-sizing: border-box;
	background-color: #1e1e1e;
	border: none;
	padding: 15px;
	text-overflow: clip;
	overflow: auto;
	text-align: start;
	box-sizing: border-box;
	font-size: 20px;
}

#main #terminal {
	height: fit-content;
	width: 100%;
	min-width: 250px;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 20px;
	justify-content: center;
	align-items: flex-start;
}
#terminal #innerTerminal::-webkit-scrollbar {
	color: #2c313a;
}
#terminal #innerTerminal {
	box-sizing: border-box;
	background: #101010;
	width: 100%;
	min-width: 250px;
	max-width: 800px;
	height: 180px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: auto;
	padding: 25px 20px;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder; 
}
#terminal #browse {
	color: whitesmoke;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}
fieldset #textarea::-webkit-scrollbar,
fieldset #textarea::-webkit-scrollbar-corner,
#terminal #innerTerminal::-webkit-scrollbar,
#terminal #innerTerminal::-webkit-scrollbar-corner {
	background-color: #181818;
	width: 10px;
	height: 10px;
}
fieldset #textarea::-webkit-scrollbar-thumb,
#terminal #innerTerminal::-webkit-scrollbar-thumb {
	background-color: rgb(56, 56, 56);
}
#terminal #browse #runtimeButtons,
#terminal #browse #terminalPages {
	width: fit-content;
	padding: 0 20px;
	display: flex;
	flex-direction: row; 
	justify-content: center;
	align-items: center;
}
#terminal #runtimeButtons #run {
	background-color: rgb(32, 190, 79);
}
#terminal #runtimeButtons #format{
	background:  rgb(32, 132, 190);
}

 
#terminal #browse button {
	box-sizing: border-box;
	border: none;
	color: white;
	padding: 8px 15px;
	font-size: 100%;
	justify-self: flex-end;
	align-self: flex-end;
	cursor: pointer;
	border: none;
}
#terminal #browse #convert,
#terminal #browse #write,
#terminal #browse #output {
	/*background-color: rgb(32, 132, 190);*/
	margin: 0;
	padding: 2px 4px;
	background: none;
	border: 1px solid rgb(32, 132, 190);
} 
@media (max-width: 930px) {
	#IDE {
		height: fit-content;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	#objects {
		max-width: 50%;
	}
}
@media (max-width: 500px) {
	#main fieldset #textarea {
		font-size: 14px;
	}
}
